body {
    background-color: rgb(90, 134, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border : 4px solid #657fe0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container h1 {
    text-align: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-group input, .form-group textarea, .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #0056b3;
}
.container .asterisk {
    color: red;
}